<p>plz kill me</p>
<div id="accordion">
  <div class="card">
      <div class="card-header" id="headingTwo-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" aria-expanded="false" aria-controls="collapseTwo">
            {{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}
          </button>
        </h5>
  </div>
  <div id="collapseTwo-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" class="collapse" aria-labelledby="headingTwo-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" data-parent="#accordion">
        <div class="card-body">
          {{content}}
        </div>
    </div>
  </div>
</div>