
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" aria-expanded="false" aria-controls="collapseOne-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}">
            {{
                content.field_fecha_de_publicacion['#items'].getValue()|first.value
            }}
          </button>
        </h5>
      </div>
  
      <div id="collapseOne-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" class="collapse " aria-labelledby="headingOne-{{content.field_fecha_de_publicacion['#items'].getValue()|first.value}}" data-parent="#accordion">
        <div class="card-body">
            {{content}}
        </div>
      </div>
    </div>
  </div>