<div class="wrapper-canazo">

  {% include directory ~ '/partials/header.html.twig' %}

  <div class="layout-container">

    {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

      <div>
        {{ page.content }}
      </div>{# /.layout-content #}

      {% if page.sidebar_first %}
        <aside class="layout-sidebar-first" role="complementary">
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside class="layout-sidebar-second" role="complementary">
          {{ page.sidebar_second }}
        </aside>
      {% endif %}

    </main>

    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}

  </div>{# /.layout-container #}

  {% include directory ~ '/partials/footer.html.twig' %}

</div>
