<div class="wrapper-canazo">

  {% include directory ~ '/partials/header.html.twig' %}

  <div class="layout-container">

    {{ page.primary_menu }}
    {{ page.secondary_menu }}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}

    <main role="main">
      <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div>

        {{page.content}}
      </div>{# /.layout-content #}
    </main>

    {% if page.footer %}
      <footer role="contentinfo">
        {{ page.footer }}
      </footer>
    {% endif %}

  </div>{# /.layout-container #}

  {% include directory ~ '/partials/footer.html.twig' %}

</div>
