{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}


<div id="accordion">
  <div class="card">
    <div class="card-header" id="accordion-item-{{view.title}}">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-{{view.title}}" aria-expanded="false" aria-controls="collapse-{{view.title}}">
          {{view.title}}
        </button>
      </h5>
    </div>
    <div id="collapse-{{view.title}}" class="collapse" aria-labelledby="accordion-item-{{view.title}}" data-parent="#accordion">
      <div class="card-body">
      {% for row in rows %}
        {%
          set row_classes = [
            default_row_class ? 'views-row',
          ]
        %}
        <div class="card" {{ row.attributes.addClass(row_classes) }}>
          {{- row.content -}}
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>